body { 
    color: white;
    background-color: black;
    font-size: 100px;
}
.container {
    display: flex;
    border: 3px solid red;
}

.search {
    flex: 1;
    border: solid green 5px;
    flex-grow: 3;
}
.logout {
    flex-shrink: 3;
    flex-grow: 1;
    border: 5px yellow solid;
}