body { 
    color: white;
    background-color: black;
    font-size: 100px;
}
.container {
    display: flex;
    width: 80%;
    margin: auto;
}
.container div {
    border: solid 5px red;
    flex: 1 1 0;
}