.flex-container {
    display: flex;
}

.flex-container div {
background-color: aquamarine;
border: 5px solid firebrick;
height: 100px;
flex: 1;
flex-direction: row;
}
.navigation {
    display: flex;
    border: 2px solid red;
    flex-direction: column;
}